@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}

body {
  min-width: 1120px;
  font-family: Pretendard, sans-serif;
  margin: 0;
  padding: 0;
}
a,
span {
  display: inline-block;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}
img {
  width: 100%;
  height: auto;
}
.lg-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
}
.md-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #374151;
}
.sm-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #3692ff;
}
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9.5px 200px;
  border-bottom: 1px solid #dfdfdf;
}
.logo {
  max-width: 40px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 8.5px;
}
.panda-anchor {
  min-width: 103px;
  font-family: ROKAF Sans;
  font-size: 25.63px;
  font-weight: 700;
  line-height: 34.6px;
  color: #3692ff;
}
.login-anchor {
  min-width: 128px;
  color: #f3f4f6;
  background-color: #3692ff;
  padding: 12px 23px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
.items-bg {
  background-color: #cfe5ff;
}
.items-img {
  max-width: 750px;
}
.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  gap: 7px;
}
.items-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.items-anchor {
  background-color: #3692ff;
  color: #f9fafb;
  padding: 16px 124px;
  border-radius: 40px;
  margin-bottom: 60px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 138px auto;
}
.box {
  display: flex;
  width: 988px;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  gap: 50px;
  border-radius: 12px;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.text-with-img {
  max-width: 579px;
}
.text {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  gap: 24px;
}
.divide-text {
  display: flex;
  flex-direction: column;
}
.search {
  text-align: right;
}
footer {
  display: flex;
  flex-direction: column;
}
.footer-img-bg {
  background-color: #cfe5ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-img {
  max-width: 1100px;
}
.footer-bg {
  display: flex;
  justify-content: center;
  height: 160px;
  background-color: #111827;
}
.footer-box {
  width: 1120px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  color: #ffffff;
}
.footer-anchor {
  display: flex;
  gap: 32px;
}
.sns-box {
  display: flex;
  gap: 12px;
}
.sns-anchor {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
.facebook-anchor {
  background-image: url("img/facebook.png");
}
.twitter-anchor {
  background-image: url("img/twitter.png");
}
.youtube-anchor {
  background-image: url("img/youtube.png");
}
.instagram-anchor {
  background-image: url("img/instagram.png");
}
@media (max-width: 1920px) {
  .user-nav {
    padding-left: 200px;
    padding-right: 200px;
  }
  .items-bg {
    background-color: #cfe5ff;
  }
}
